*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    list-style: none;
}

header {
    background-color: #444444;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    
}

.logo {
    padding: 20px;
    height: 90px;
    width: 90px;
}

a {
    color: white;
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 10px;
    padding: 10px;
}

.info {
    display:block;
    gap: 10px;
}

.texcontainer {
    display: flex;
    gap: 16px;
}

main {
    padding: 0 20px;
}


footer {
    height: 40px;
    background-color: #333;
    color: #fff;
    display: grid;
    place-items: center;
    margin-top: auto;
}